<nav class="navbar navbar-default">
        <a class="navbar-brand" href="#">GitHub Profiler</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav mr-auto">
           
          </ul>
          
        </div>
      </nav>
      <div class="container">
<app-profile></app-profile>
</div>